/*Main*/
body {
    margin: 0;
    font-family: noto sans, sans-serif, Opensans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #343a40;
    text-align: left;
    background-color: #fafaff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}
#global-loader {
    position: fixed;
    z-index: 50000;
    background: #fff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.loader-img {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 43%;
    left: 0;
    margin: 0 auto;
    text-align: center;
}
.card-crypto-scroll:before {
    content: '';
    display: block;
    left: 15px;
    background: linear-gradient(to left, transparent 0%, #fafaff 100%);
    bottom: 0px;
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 10;
    top: 0px;
}
.card-crypto-scroll:after {
    content: '';
    display: block;
    right: 15px;
    background: linear-gradient(to left, #fafaff 0%, transparent 100%);
    bottom: 0px;
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 10;
}
.jctkr-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 90px;
    vertical-align: top;
    overflow: hidden;
}
.jctkr-wrapper, .jctkr-wrapper * {
    box-sizing: border-box;
}
.jctkr-wrapper.jctkr-initialized ul{
  opacity: 100;
  height: 90px;
  overflow: hidden;
}
.jctkr-wrapper ul{
  position: absolute;
  left: 0;
  font-size: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  overflow: visible;
}
.jctkr-wrapper img {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}
.ht-400 {
    height: 400px;
}
/* Navbar */
.navbar {
    padding: 0.2rem 0rem;
}
.stats-nav {
    position: relative;
    z-index: 10;
}
.stats-nav .navbar {
    width: 100%;
    height: 50px;
}
.navbar .right-icons {
    color: #ffffff;
}
.navbar .zoom {
    color: #ffffff;
}
.navbar .lang {
    color: #ffffff;
}
.navbar .mode {
    color: #ffffff;
}
/*Content*/
.stats-content {
    margin-top: 15px;
}
.navbar .brand {
    color: #ffffff;
        font-size: 30px;
}
.nav-link {
    padding: 0; 
}
.navbar .form-control {
    height: 35px;
    width: 50vw;
    border-radius: 50px;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.navbar .btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    height: 40px;
    color: #b4bdce;
    transition: none;
    font-size: 16px;
    padding-right: 13px;
}

.form-control::placeholder {

}
/*Total*/
.home-totals .total {
	padding: 20px;
		border-radius: 10px;
		margin-bottom: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.home-totals .total h3 {
	font-weight: 400;
	font-size: 1.3rem;
}

.home-totals .total span {
	display: block;
	font-weight: 550;
	font-size: 50px;
}


.latest {
	margin-top: 30px;
}
.home-totals .total i {
        opacity: 0.8;
}
.latest .toggle-info {
	cursor: pointer
}

/* Table */
.tableContainer {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.tableContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.table-search {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.table-search::placeholder {
	color: #9e9e9e;
}
table {
  	position: relative !important;
  	border-collapse: collapse; 
}
.table-bordered {
    border: 0px;
}
thead {
  	position: sticky !important;
  	top: 0;
}
table.table th, table.table td {
    text-align: center;
    font-weight: 700;
    vertical-align:top;
    letter-spacing: 0.07rem;
}
tr th:nth-child(1), tr td:nth-child(1) {
	text-align: left;
}
.table-bordered th, .table-bordered td {
    border: 0px;
}
table.dataTable thead .sorting::before, 
table.dataTable thead .sorting_asc::before, 
table.dataTable thead .sorting_desc::before, 
table.dataTable thead .sorting_asc_disabled::before, 
table.dataTable thead .sorting_desc_disabled::before {
	top: 0.5em;
	right: 0.3em;

}
table.dataTable thead .sorting::after, 
table.dataTable thead .sorting_asc::after, 
table.dataTable thead .sorting_desc::after, 
table.dataTable thead .sorting_asc_disabled::after, 
table.dataTable thead .sorting_desc_disabled::after {
	top: 9px;
	right: 4.8px;
}

table.dataTable thead > tr > th.sorting_asc, 
table.dataTable thead > tr > th.sorting_desc, 
table.dataTable thead > tr > th.sorting, 
table.dataTable thead > tr > td.sorting_asc, 
table.dataTable thead > tr > td.sorting_desc, 
table.dataTable thead > tr > td.sorting {
    padding-right: 20px;
}

table.table th, table.table td {
padding-top: 0.3rem;
padding-bottom: 0.3rem;
}

.table th, .table td {
    padding: 0.3rem;
        padding-top: 0.3rem;
        padding-right: 0.3rem;
        padding-bottom: 0.3rem;
}
table.table-hover tbody tr:hover {
    -webkit-transition: .5s;
    transition: .5s;
}
.table th, .table td {
    padding: 0.2rem;
    vertical-align: top;
    border-top: none;
}
.table img {
    height: 20px;
    width: 20px;
    border-radius: 50px;
}
@media (max-width: 767.98px) {

	.home-totals .total h3 {
		font-weight: 600;
		font-size: 1.5rem;
	}

	table td {
   		font-size: 1.3rem;
   		font-weight: 300;
	}
		table th {
   		font-size: 1.3rem;
   		font-weight: 500;
	}
}

/* .flex-right {
    justify-content: space-around;
} */

.select2.select2-container {
    width: 100% !important;
}